 "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"


@keyframes bganimate {
  from {opacity:0.2;}
  to {opacity:1.0;}
}
body.index {
    background: url("turtle.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    animation-name: bganimate;
    animation-duration: 7s;
}
body.flatback {
    background: url("flatback.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    animation-name: bganimate;
    animation-duration: 7s;
}
body.green {
    background: url("green.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    animation-name: bganimate;
    animation-duration: 7s;
}
body.hawksbill {
    background: url("hawksbill.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    animation-name: bganimate;
    animation-duration: 7s;
}
body.leatherback {
    background: url("leatherback.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    animation-name: bganimate;
    animation-duration: 7s;
}
body.loggerhead {
    background: url("loggerhead.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    animation-name: bganimate;
    animation-duration: 7s;
}
body.olive {
    background: url("olive.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    animation-name: bganimate;
    animation-duration: 7s;
}
img {
    opacity: 1.0;
}
h1, h5 {
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px grey;
    margin-top: 40px;
}
h2 {
    color: white;
    text-align: left;
    text-emphasis-style; open-sesame;
    text-shadow: 3px 3px 1px grey;
    padding-top: 20px;
}
h3  {
    color: white;
    text-align: left;
    text-shadow: 1px 1px 1px grey;
    padding: 5px;
}
h6  {
    color: white;
    text-align: left;
    margin: 2px;

}
div {
    width: 33%;
    height: auto;
    border: 2px black;
    margin-top: auto;
    background-color; white;
}
#leatherback {
    position: absolute;
    width: auto;
    left:67%; bottom: 1%;
    background-color: #d9d9d9;
    color: black;
    padding: 10px 20px 5px 20px;
    border-radius: 5px;
}
#flatback{
    position: absolute;
    width: auto;
    left: 67% bottom: 1%;
    background-color: #d9d9d9;
    opacity: 0.6;
    color: black;
    padding: 10px 20px 5px 20px;
    border-radius: 5px;
}
#green {
    position: absolute;
    width: auto;
    Top: 75%;
    background-color: #eeeedd;
    opacity: 0.9;
    color: black;
    padding: 10px 20px 20px 20px;
    border-radius: 5px;
}
#hawksbill {
    position: absolute;
    width: auto;
    Top: 75%;
    background-color: #eeeedd;
    opacity: 0.9;
    color: black;
    padding: 10px 20px 20px 20px;
    border-radius: 5px;
}
.p_index {
    background-color: #1f1fab;
    color: white;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
}
.listdiv {
    position:absolute;
    top: 100px;
    right: 20px;
    width: auto;
    height: auto;
    background-color:transparent;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    text-align: left;
    margin: 2px;
}
a.links:link {
    color: white;
    text-decoration: none;
}
a.links:visited {
    color: white;
    text-decoration: none
}
a.links:hover {
    color: yellow;
}
a.links:active {
    color: orange;
}
.bold {
    font-weight: bold;
}
.red {
    color: red;
}
